/* init */
@import "./init/reset.css";
@import "./init/variables.css";
@import "./init/layout.css";
@import "./init/base.css";
/* 3rd party */
@import "./3rd-party/font-awesome.min.css";
/* components */
@import "./components/button.css";
@import "./components/service.css";
@import "./components/footer.css";
@import "./components/header.css";

/* header */

/* hero */
.hero .text-grey {
  margin-bottom: 30px;
}
.hero .btn-white {
  margin-left: 10px;
}
.btn-white .fa {
  line-height: 22px;
}
.hero {
  background-image: url(../../img/home/home.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
/* about */

.about-img {
  width: fit-content;
  border: 15px solid gainsboro;
  border-radius: 10px;
}
.about .left-column {
  padding-top: 50px;
  padding-left: 30px;
}
.red-title {
  font-size: 25px;
  color: var(--colour-red);
  font-weight: 500;
}
.left-column > p {
  margin-bottom: 20px;
}
.left-column > .sign {
  display: block;
  width: 15%;
  margin-bottom: 20px;
}
.left-column > .btn {
  margin-bottom: 20px;
  display: block;
}
/* interests */
.hobbies {
  padding: 0px 20px 0px 0px;
  background-color: var(--colour-blue-light);
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 400;
  line-height: 60px;
  border-radius: 7px;
  text-align: center;
  position: relative;
}
.hobbies .fa {
  line-height: 60px;
  font-size: 20px;
  float: left;
  position: absolute;
  top: 0;
  left: 20px;
}
.hobbies .fa::after {
  content: " ";
  height: 60px;
  width: 1px;
  background-color: var(--colour-grey);
  position: absolute;
  top: 0;
  left: 35px;
}
/*achievements */
.achievements {
  background-image: url(../../img/portfolio/bg-counter.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: #fff;
  line-height: 50px;
}
.achievements .fa,
.services-main .fa {
  color: var(--colour-red);
  font-size: 30px;
}
.achievements .numbers {
  font-size: 30px;
  font-weight: 500;
}
.achievements .text {
  font-weight: 500;
  font-size: 18px;
}
/* services */
/* featured projects */
.date {
  padding: 10px;
  border: 1px solid var(--colour-grey);
  border-radius: 7px;
  text-align: center;
}
/* work expertise */
/* portfolio */
/* feedback */
/* blog */
/* freelance */
/* contact */
/* footer */
