/* init */
@import "./init/reset.css";
@import "./init/variables.css";
@import "./init/layout.css";
@import "./init/base.css";
/* 3rd party */
@import "./3rd-party/font-awesome.min.css";
/* components */
@import "./components/blog.css";
@import "./components/button.css";
@import "./components/footer.css";
@import "./components/form.css";
@import "./components/gallery.css";
@import "./components/header.css";
@import "./components/service.css";

/* header */

/* hero */
.hero .text-grey {
  margin-bottom: 30px;
}
.hero .btn-white {
  margin-left: 10px;
}
.btn-white .fa {
  line-height: 22px;
}
.hero {
  background-image: url(../img/home/pagrindine.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .mouse-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .mouse {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42px;
  width: 30px;
  border: 2px solid #333;
  border-radius: 15px;
}
.mouse-row > .mouse > .mouse-element {
  width: 2px;
  height: 8px;
  border-radius: 1px;
  background-color: #555;
  margin-top: 20px;
  animation-name: mouseMovement;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  /* animation-fill-mode: both; */
  animation-direction: alternate;
  animation-play-state: running;
}
@keyframes mouseMovement {
  0% {
    margin-top: 22px;
  }
  100% {
    margin-top: 28px;
  }
}
/* about */

.about-img {
  width: fit-content;
  border: 15px solid gainsboro;
  border-radius: 10px;
}
.about .left-column {
  padding-top: 50px;
  padding-left: 30px;
}
.red-title {
  font-size: 25px;
  color: var(--colour-red);
  font-weight: 500;
}
.left-column > p {
  margin-bottom: 20px;
}
.left-column > .sign {
  display: block;
  width: 15%;
  margin-bottom: 20px;
}
.left-column > .btn {
  margin-bottom: 20px;
  display: block;
}
/* interests */
.hobbies {
  padding: 0px 20px 0px 0px;
  background-color: var(--colour-blue-light);
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 400;
  line-height: 60px;
  border-radius: 7px;
  text-align: left;
  position: relative;
  transition: all 0.25s;
}
.hobbies:hover {
  background-color: #fff;
  box-shadow: 0 5px 30px #3333;
  transform: translateY(-3px);
}
.hobbies > p {
  display: flex;
  width: 100%;
  padding-left: 70px;
  margin: 0;
}
.hobbies .fa {
  line-height: 60px;
  font-size: 20px;
  float: left;
  position: absolute;
  top: 0;
  left: 20px;
}
.hobbies:hover .fa {
color: var(--colour-red);
}
.hobbies .fa::after {
  content: " ";
  height: 60px;
  width: 1px;
  background-color: var(--colour-grey);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 35px;
}
/*achievements */
.achievements {
  background-image: url(../img/portfolio/poachievements.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: #fff;
  line-height: 50px;
}
.achievement-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 991px) {
  .achievement-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.achievements .fa,
.services-main .fa {
  color: var(--colour-red);
  font-size: 30px;
}
.achievements .numbers {
  font-size: 30px;
  font-weight: 500;
}
.achievements .text {
  font-weight: 500;
  font-size: 18px;
}
/* services */
/* featured projects */
.participation-tree {
  display: inline-block;
  width: 100%;
}
.middle-part {
  display: flex;
    flex-wrap: wrap;
  /* width: 100%; */
  /* height: auto; */
}
.participation-container {
  display: inline-block;
  /* width: 100%; */
  padding: 10px;
  border: 1px solid var(--colour-grey);
  border-radius: 7px;
  text-align: center;
}
@media (min-width: 767px) {
  .middle-part .part-cont-right {
    float: right;
  }
  .middle-part .part-cont-left {
    float: left;
  }
}
/* @media (min-width: 767px) {
  .part-cont-left {
    float: left;
  }
} */
/* .participation-tree {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
/* work expertise */
.expertise {
  background-image: url(../img/portfolio/skills.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.expertise-btn {
  border: 1px solid #fff;
  padding: 10px 15px;
  float: left;
}
/* portfolio */
/* feedback */
/* blog */
/* freelance */
.freelance > .row {
  background-image: url(../img/portfolio/hireme.jpeg);
  background-position: center;
  background-size: cover;
  /* display: flex;
  flex-flow: wrap; */
  width: 100%;
  border-radius: 30px;
  padding: 50px 0;
  margin: 0px;
  align-content: center;
  text-align: center;
}
.freelance-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 600;
}
.freelance .btn {
  margin-top: 30px;
  line-height: 20px;
  padding: 10px 25px;
  width: fit-content;
}
.freelance .btn > i {
  line-height: 20px;
}
/* contact */
/* apatinis kazkoks itartinas, matosi tik narsykleje */
.contact-container {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.contact-block {
  text-align: center;
  display: inline-block;
}
.contact-element {
  margin-top: 30px;
  margin-bottom: 50px;
}
.contact-element > i,
p {
  margin-bottom: 20px;
}
.contact-element > i {
  font-size: 35px;
}
.contact-element > p:first-of-type {
  font-weight: 500;
  font-size: 18px;
}
/* footer */
