/* BACKGROUND COLOURS */

.bg-blue-light {
  background-color: var(--colour-blue-light);
}
.bg-dark-grey {
  background-color: var(--colour-grey-dark);
}

/* TEXT STYLES */

.row .center {
  text-align: center;
}
.row .left {
  text-align: left;
}

.rounded-title {
  display: inline-block;
  background-color: #fff;
  font-weight: 500;
  border: none;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.main-title-red {
  display: inline-block;
  width: 100%;
  color: var(--colour-red);
  font-size: 40px;
  font-weight: 700;
  line-height: 100px;
  text-align: left;
}
.title-black {
  display: inline-block;
  width: 100%;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.title {
  display: inline-block;
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
}

.text-white {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 200;
}
.text-grey {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: var(--colour-grey);
  font-weight: 400;
}

.mini-title {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
}
.faq {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.footer-title {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  padding: 0;
}
.selected {
  color: var(--colour-red);
  font-size: 16px;
}
.logo {
  width: 5rem;
  height: 18px;
}
.links {
  float: right;
}
.navigacija {
  line-height: 3em;
}

nav > a {
  padding: 0 15px;
  font-size: 0.7em;
  text-decoration: none;
}
nav > .fa {
  font-size: 2.25em;
}
.hero {
  background-image: url(../../img/home/home.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.hobbies {
  padding: 0px 20px 0px 0px;
  background-color: var(--colour-blue-light);
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 400;
  line-height: 60px;
  border-radius: 7px;
  text-align: left;
}
.hobbies .fa {
  border-right: 1px solid gainsboro;
  line-height: 60px;
  font-size: 25px;

  float: left;
  padding-inline: 25px;
  width: 34%;
}
.achievements {
  background-image: url(../../img/portfolio/bg-counter.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: #fff;
  line-height: 50px;
}
.achievements .fa,
.services-main .fa {
  color: var(--colour-red);
  font-size: 30px;
}
.achievements .numbers {
  font-size: 30px;
  font-weight: 500;
}
.achievements .text {
  font-weight: 500;
  font-size: 18px;
}

.date {
  padding: 10px;
  border: 1px solid var(--colour-grey);
  border-radius: 7px;
  text-align: center;
}
