.container.footer {
  padding: 60px 0 20px 0;
  margin: 0px;
}

.footer-icons {
  font-size: 30px;
  margin-bottom: 70px;
}
.footer-bottom-line {
  line-height: 20px;
  padding: 0px;
  margin-top: 20px;
  /* border-top: 1px solid var(--colour-grey); */
}
.bottom-line {
  margin-top: 60px;
  border: 0.5px solid var(--colour-grey);
  opacity: 0.2;
}
.logo-bottom {
  width: 150px;
  background-color: aquas;
  top: 25px;
  left: 35px;
}
